<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div id="search-results"></div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div id="search-preview"></div>
        </div>
    </div>
</div>