.result-card{
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid gray;
  vertical-align: middle;
  transition: 0.3s;
}
.result-card:hover{
  background-color:#e5e4e2;
}

.total-results{
  text-transform: uppercase;
  padding: 5%;
}

.card-image{
  border-radius: 5%;
}

.card-body{
  padding-left: 2%;
}

.movie-year{
  color: gray;
}

.results-body{
  border-right: 1px solid gray;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
}

.empty-string{
  text-transform: none;
  text-align: center;
  padding-top: 10%;
}

.description-view-item{

}

li{
  display: inline;
  padding: 5px;
}

/* .description-head{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

/* .tags-title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

/* .movie-title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

/* .movie-tags{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

#search-preview{
  padding-top: 5%;
}

.movie-plot{
  text-transform: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  padding-top: 2%;
  padding-bottom: 2%;

  margin-top: 2%;
  margin-bottom: 2%;
}

.movie-plot p{
  margin-bottom: 0px;
  margin-top: 0px;
}

div{
  text-transform: uppercase;
}

small{
  text-transform: none;
}

img{
  width: 100%;
  height: auto;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
